main {
  display: flex;
  flex-direction: column;
}

.banner {
  padding: 0.6rem;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right bottom, #2ecc71, #3498db, #9b59b6);
  color: #fff;
}
